<?xml version = "1.0" encoding = "UTF-8"?>
<web-app xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version = "3.1">
<display-name> Restaurante </display-name>

<welcome-file-list>
	<welcome-file> index.html </welcome-file>
	<welcome-file> index.htm </welcome-file>
	<welcome-file> /jsp/index.jsp </welcome-file>
	<welcome-file> default.html </welcome-file>
	<welcome-file> default.htm </welcome-file>
	<welcome-file> default.jsp </welcome-file>
	<welcome-file> usuario.html </welcome-file>
</welcome-file-list>


  <servlet>
    <servlet-name>ControladorLogin</servlet-name>
    <servlet-class>controladores.ControladorLogin</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ControladorLogout</servlet-name>
    <servlet-class>controladores.ControladorLogout</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ControladorMesas</servlet-name>
    <servlet-class>controladores.ControladorMesas</servlet-class>
  </servlet>


 <servlet-mapping>	 
    <servlet-name>ControladorLogin</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>	 
    <servlet-name>ControladorLogout</servlet-name>
    <url-pattern>/Salir</url-pattern>
  </servlet-mapping> 
  
 <servlet-mapping>	 
    <servlet-name>ControladorMesas</servlet-name>
    <url-pattern>/Mesas</url-pattern>
  </servlet-mapping> 
  


</web-app>